# DATABASES CONCEPTS

In [1]:
import sqlite3

# Create DataBase

In [2]:
#This cretaes teh student_database db file in home directory
db = sqlite3.connect('student_database.db')

In [4]:
#This will create a temorary work area in system memory when sql statement is executed
cur = db.cursor()

In [5]:
cur.execute("create table student (id int primaryy key,name text,marks int)")

In [7]:
cur.execute("insert into student(id,name,marks) values(1,'akhil',100)")

In [8]:
results = cur.execute('select * from student')
for row in results:
    print(row)

(1, 'akhil', 100)

In [9]:
cur.execute("insert into student(id,name,marks) values(2,'mahesh',100)")

In [10]:
cur.execute("insert into student(id,name,marks) values(3,'sumanth',100)")

In [11]:
cur.execute("insert into student(id,name,marks) values(2,'Jaya',100)")

In [14]:
results = cur.execute('select * from student')
for row in results:
    print(row)

(1, 'akhil', 100)
(2, 'mahesh', 100)
(3, 'sumanth', 100)
(2, 'Jaya', 100)

In [15]:
print(cur.rowcount,"records's inserted")

-1 records's inserted

In [21]:
cur.execute("delete from student where id=1")

In [22]:
results = cur.execute('select * from student')
for row in results:
    print(row)

(2, 'mahesh', 100)
(3, 'sumanth', 100)
(2, 'Jaya', 100)

In [23]:
cur.execute("delete from student where id=2")

In [24]:
results = cur.execute('select * from student')
for row in results:
    print(row)

(3, 'sumanth', 100)

In [25]:
cur.execute("insert into student(id,name,marks) values(1,'akhil',100)")

In [26]:
cur.execute("insert into student(id,name,marks) values(2,'mahesh',100)")

In [27]:
cur.execute("insert into student(id,name,marks) values(2,'Jaya',100)")

In [28]:
results = cur.execute('select * from student')
for row in results:
    print(row)

(3, 'sumanth', 100)
(1, 'akhil', 100)
(2, 'mahesh', 100)
(2, 'Jaya', 100)

In [29]:
cur.execute("delete from student where id=2")

In [30]:
results = cur.execute('select * from student')
for row in results:
    print(row)

(3, 'sumanth', 100)
(1, 'akhil', 100)

In [31]:
cur.execute("insert into student(id,name,marks) values(2,'mahesh',100)")

In [32]:
cur.execute("insert into student(id,name,marks) values(4,'Jaya',100)")

In [33]:
results = cur.execute('select * from student')
for row in results:
    print(row)

(3, 'sumanth', 100)
(1, 'akhil', 100)
(2, 'mahesh', 100)
(4, 'Jaya', 100)

In [34]:
print(cur.rowcount,"records's inserted")

-1 records's inserted

In [35]:
cur.execute("insert into student values(5,'Harika',100)")

In [37]:
db.commit

In [38]:
results = cur.execute('select * from student')
for row in results:
    print(row)

(3, 'sumanth', 100)
(1, 'akhil', 100)
(2, 'mahesh', 100)
(4, 'Jaya', 100)
(5, 'Harika', 100)

In [39]:
 print(cur.rowcount,"records's inserted")

-1 records's inserted