In [15]:
import pandas as pd

In [16]:
df=pd.DataFrame({'Day':[1,2,3,4],'vistors':[200,100,300,400],'bouncerate':[20,30,40,50]})
df

   Day  vistors  bouncerate
0    1      200          20
1    2      100          30
2    3      300          40
3    4      400          50

In [17]:
#to create your own index in pandas we have set index method where it converts column into index data
df1=df.set_index('Day')
df1

     vistors  bouncerate
Day
1        200          20
2        100          30
3        300          40
4        400          50

In [18]:
print(df1.loc[1])

vistors       200
bouncerate     20
Name: 1, dtype: int64

In [19]:
#to set the index permanently to data frame we need to add other parameter
df

   Day  vistors  bouncerate
0    1      200          20
1    2      100          30
2    3      300          40
3    4      400          50

In [20]:
df1=df.set_index('Day',inplace=True)
df1

In [21]:
df

     vistors  bouncerate
Day
1        200          20
2        100          30
3        300          40
4        400          50

In [22]:
#if we want to rename any column name we have rename method
df=df.rename(columns={'visitors':'users'})
df

     vistors  bouncerate
Day
1        200          20
2        100          30
3        300          40
4        400          50

# Data Analaysis In Python

In [23]:
df=pd.DataFrame({'Day':[1,2,3,4,5,6],'vistors':[200,100,300,400,500,600],'bouncerate':[20,30,40,50,60,70]})
df

   Day  vistors  bouncerate
0    1      200          20
1    2      100          30
2    3      300          40
3    4      400          50
4    5      500          60
5    6      600          70

In [24]:
df.head()

   Day  vistors  bouncerate
0    1      200          20
1    2      100          30
2    3      300          40
3    4      400          50
4    5      500          60

In [25]:
df.tail()

   Day  vistors  bouncerate
1    2      100          30
2    3      300          40
3    4      400          50
4    5      500          60
5    6      600          70

In [26]:
df.head(2)

   Day  vistors  bouncerate
0    1      200          20
1    2      100          30

In [28]:
df.sample()

   Day  vistors  bouncerate
5    6      600          70

In [29]:
df.sample(2)

   Day  vistors  bouncerate
3    4      400          50
2    3      300          40