# DataFrame_Manipulation

In [1]:
import pandas as pd
import numpy as np

In [3]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['Raju','Pandey','Srini','Sunil','Ashok']
column_headings = ['Age','Height','Weight']

In [4]:
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
df

        Age  Height  Weight
Raju     22      66     140
Pandey   42      70     148
Srini    30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [5]:
df['Height']

Raju      66
Pandey    70
Srini     62
Sunil     68
Ashok     62
Name: Height, dtype: int32

In [6]:
df[['Age','Weight']]

        Age  Weight
Raju     22     140
Pandey   42     148
Srini    30     125
Sunil    35     160
Ashok    25     152

# lets understanding slicing a particular element

In [7]:
df.loc['Raju']

Age        22
Height     66
Weight    140
Name: Raju, dtype: int32

In [8]:
df.iloc[1]

Age        42
Height     70
Weight    148
Name: Pandey, dtype: int32

In [10]:
#lets get particular candidate height
df.loc['Pandey','Height']

70

In [11]:
df.loc[['Raju','Ashok'],['Height','Weight']]

       Height  Weight
Raju       66     140
Ashok      62     152

# Select Data on Condition

In [12]:
df[df['Height']>65]

        Age  Height  Weight
Raju     22      66     140
Pandey   42      70     148
Sunil    35      68     160

In [13]:
booldf1=df['Height']>65
booldf2 = df['Weight']>145

In [14]:
print(df[(booldf1) & (booldf2)])

        Age  Height  Weight
Pandey   42      70     148
Sunil    35      68     160

In [15]:
print(df[booldf1][['Age','Weight']])

        Age  Weight
Raju     22     140
Pandey   42     148
Sunil    35     160

In [17]:
print(df.reset_index())

    index  Age  Height  Weight
0    Raju   22      66     140
1  Pandey   42      70     148
2   Srini   30      62     125
3   Sunil   35      68     160
4   Ashok   25      62     152

In [18]:
print(df.reset_index(drop=True))

   Age  Height  Weight
0   22      66     140
1   42      70     148
2   30      62     125
3   35      68     160
4   25      62     152