# Date_time_manipulation

In [1]:
import numpy as np
import pandas as pd

In [3]:
#dates
date_range = pd.date_range("4/12/21", periods=6)
dates = pd.DataFrame(date_range, columns = ['Date'])
dates

        Date
0 2021-04-12
1 2021-04-13
2 2021-04-14
3 2021-04-15
4 2021-04-16
5 2021-04-17

In [5]:
#months
#returns last date from that particular month
date_range = pd.date_range("4/12/21", periods=6, freq = 'M')
dates = pd.DataFrame(date_range, columns = ['Date'])
dates

        Date
0 2021-04-30
1 2021-05-31
2 2021-06-30
3 2021-07-31
4 2021-08-31
5 2021-09-30

In [6]:
#months
#returns last month from that particular year
date_range = pd.date_range("4/12/21", periods=6, freq = 'Y')
dates = pd.DataFrame(date_range, columns = ['Date'])
dates

        Date
0 2021-12-31
1 2022-12-31
2 2023-12-31
3 2024-12-31
4 2025-12-31
5 2026-12-31

# Extracting date,month,year

In [7]:
dates['Day'] = dates['Date'].dt.day
dates['Month'] = dates['Date'].dt.month
dates['Year'] = dates['Date'].dt.year
dates

        Date  Day  Month  Year
0 2021-12-31   31     12  2021
1 2022-12-31   31     12  2022
2 2023-12-31   31     12  2023
3 2024-12-31   31     12  2024
4 2025-12-31   31     12  2025
5 2026-12-31   31     12  2026

In [8]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7),index=dates)
print(ts)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32