26-12-21

# Referential integrity

In [10]:
import sqlite3

In [14]:
db = sqlite3.connect('student_course.db')

In [16]:
#creating cursor object
cur=db.cursor()

In [17]:
cur.execute("create table course(courseid int primary key,coursename text, duration int)")

In [18]:
create_student=cur.execute("create table student(rollno int primary key,studentname text,age int,courseid int,foreign key(courseid) references course(courseid))")

In [19]:
cur.execute("insert into course values(1,'python',1),(2,'sql',3),(3,'data analyst',5),(4,'data science',11)")

In [20]:
print(cur.rowcount,"record(s) inserted")
db.commit;

4 record(s) inserted

In [21]:
result = cur.execute("select * from course")
for rows in result:
    print(rows)

(1, 'python', 1)
(2, 'sql', 3)
(3, 'data analyst', 5)
(4, 'data science', 11)

In [22]:
cur.execute("insert into student values(1,'akhil',26,4),(2,'jack',25,1),(3,'amit',28,3)")

In [23]:
print(cur.rowcount,"record(s) inserted")
db.commit;
result = cur.execute("select * from student")
for rows in result:
    print(rows)

3 record(s) inserted
(1, 'akhil', 26, 4)
(2, 'jack', 25, 1)
(3, 'amit', 28, 3)

In [27]:
cur.execute("insert into student values(4,'steve',26,null)")

In [28]:
print(cur.rowcount,"record(s) inserted")
db.commit;
result = cur.execute("select * from student")
for rows in result:
    print(rows)

1 record(s) inserted
(1, 'akhil', 26, 4)
(2, 'jack', 25, 1)
(3, 'amit', 28, 3)
(4, 'steve', 26, None)

In [29]:
results = cur.execute("select * from student")
results.fetchall()

[(1, 'akhil', 26, 4),
 (2, 'jack', 25, 1),
 (3, 'amit', 28, 3),
 (4, 'steve', 26, None)]

In [30]:
results = cur.execute("select courseid from course where coursename='data science'")

In [31]:
results.fetchall()

[(4,)]

In [32]:
testing = cur.execute("select coursename from course where courseid=4")
testing.fetchall()

[('data science',)]

# subquery

In [33]:
result = cur.execute("select * from student where courseid = (select courseid from course where coursename = 'data science')")
result.fetchall()

[(1, 'akhil', 26, 4)]

In [34]:
result = cur.execute("select * from student where courseid = (select courseid from course where coursename = 'python')")
result.fetchall()

[(2, 'jack', 25, 1)]

# JOINS

data common in two tables is inner join,
all the data which is present in left side table is left join,
all the data which is present in right  side is right join,
data swhich is present in all the tables is called outer join

inner join

In [ ]:
cur.execute