# adding data into table with csv

In [1]:
import sqlite3

In [2]:
db=sqlite3.connect('scores_database.db')
cur = db.cursor()
cur.execute("create table scores (gender text,student_id int primary key,marks int)")

In [3]:
cur.execute("insert into scores (gender,student_id,marks) values ('male',101,55)")

In [4]:
db.commit;
result = cur.execute('select * from scores')
for row in result:
    print(row)

('male', 101, 55)

In [6]:
with open ('scores_file.csv','r') as file:
    total_rcrds=0
    for row in file:
        cur.execute('insert into scores values(?,?,?)',row.split(','))
        db.commit()
        total_rcrds+=1
print(total_rcrds, "records inserted")

15 records inserted

In [7]:
result = cur.execute('select * from scores')
for row in result:
    print(row)

('male', 101, 55)
('male', 102, 45)
('female', 103, 48)
('male', 104, 54)
('female', 105, 65)
('female', 106, 45)
('male', 107, 99)
('female', 108, 88)
('male', 109, 77)
('male', 110, 86)
('female', 111, 91)
('male', 112, 76)
('male', 113, 93)
('female', 114, 45)
('male', 115, 45)
('female', 116, 99)

In [8]:
sql = "update scores set marks=100 where student_id=105"
cur.execute(sql)

In [9]:
result = cur.execute('select * from scores')
for row in result:
    print(row)

('male', 101, 55)
('male', 102, 45)
('female', 103, 48)
('male', 104, 54)
('female', 105, 100)
('female', 106, 45)
('male', 107, 99)
('female', 108, 88)
('male', 109, 77)
('male', 110, 86)
('female', 111, 91)
('male', 112, 76)
('male', 113, 93)
('female', 114, 45)
('male', 115, 45)
('female', 116, 99)

In [11]:
rs = cur.execute("select * from scores order by marks")
rs.fetchall()

[('male', 102, 45),
 ('female', 106, 45),
 ('female', 114, 45),
 ('male', 115, 45),
 ('female', 103, 48),
 ('male', 104, 54),
 ('male', 101, 55),
 ('male', 112, 76),
 ('male', 109, 77),
 ('male', 110, 86),
 ('female', 108, 88),
 ('female', 111, 91),
 ('male', 113, 93),
 ('male', 107, 99),
 ('female', 116, 99),
 ('female', 105, 100)]

In [12]:
rs = cur.execute("select * from scores order by marks desc")
rs.fetchall()

[('female', 105, 100),
 ('male', 107, 99),
 ('female', 116, 99),
 ('male', 113, 93),
 ('female', 111, 91),
 ('female', 108, 88),
 ('male', 110, 86),
 ('male', 109, 77),
 ('male', 112, 76),
 ('male', 101, 55),
 ('male', 104, 54),
 ('female', 103, 48),
 ('male', 102, 45),
 ('female', 106, 45),
 ('female', 114, 45),
 ('male', 115, 45)]

In [13]:
rs = cur.execute("select max(marks) from scores")
rs.fetchall()

[(100,)]

In [14]:
rs = cur.execute("select min(marks) from scores")
rs.fetchall()

[(45,)]

In [15]:
rs = cur.execute("select max(student_id) from scores")
rs.fetchall()

[(116,)]

In [16]:
rs = cur.execute("select min(student_id) from scores")
rs.fetchall()

[(101,)]

In [18]:
rs = cur.execute('SELECT DISTINCT gender FROM scores')
rs.fetchall()

[('male',), ('female',)]

In [19]:
db.close()