# STRUCTURED QUERY LANGUAGE

In [1]:
#relational data base:
#is a group of well defined table from where CRUD operation is performed
#we can manupulate and update

In [2]:
import sqlite3

In [3]:
db=sqlite3.connect('practice.db')

In [4]:
cur = db.cursor()

In [6]:
cur.execute("CREATE TABLE books (id INTGER primary key,name TEXT, cost INTEGER)")

In [9]:
cur.execute("INSERT INTO books values(1, 'python for DS',250),(2,'advanced python',100)")

In [10]:
lstbooks = cur.execute('''select * from books''').fetchall()
lstbooks

[(1, 'python for DS', 250), (2, 'advanced python', 100)]

In [11]:
cur.execute("INSERT INTO books values(3,'maths',20),(4,'science',30),(5,'social',40)")

In [12]:
db.commit()

In [13]:
lstbooks = cur.execute('''select * from books''').fetchall()
lstbooks

[(1, 'python for DS', 250),
 (2, 'advanced python', 100),
 (3, 'maths', 20),
 (4, 'science', 30),
 (5, 'social', 40)]

In [14]:
import pandas as pd

In [15]:
dfbook = pd.read_sql_query("select * from books",db)
dfbook

   id             name  cost
0   1    python for DS   250
1   2  advanced python   100
2   3            maths    20
3   4          science    30
4   5           social    40